משימות:
1. לייצר פיצ'רים מטמטיים מהקטגוריות והתקצירים - בוצע
2.  לחבר אותם לאינדקסים של הטבלה לפי הקטגוריות - בוצע
3. ליצור קובץ שלהם- בוצע
4. להכניס אותם למודל כשכבה נפרדת, להבין כיצד נכון לשלב את זה - בוצע 
5. לחזות - בוצע
6. ליצור מודל "ברירת מחדל" שממליץ על פופולריות
7. לראות איך משבים ריקול ופרפ גם למודל הזה
8. לשקול לסנן קוראים עם פחות מ10 ספרים
9. להוסיף למצגת

In [1]:
import math, pydot, graphviz
import numpy as np
import pandas as pd
from collections import defaultdict
# Split the data into train and test sets
# importing relevant libraries
from sklearn.model_selection import train_test_split

In [2]:
import keras
import pydot
import pydotplus
from pydotplus import graphviz
from keras.utils import plot_model
from keras.utils import model_to_dot
keras.utils.pydot = pydot
#plot_model(model)

In [3]:
import tensorflow as tf
from tensorflow.keras.utils import plot_model

In [4]:
def reader_encode(df,y=None):

    cat_var = ['Language','country']
    one_hot = OneHotEncoder(sparse=False)  # , drop = 'first')
    encoder_var_array = one_hot.fit_transform(df[cat_var])
    encoder_name = one_hot.get_feature_names_out(cat_var)
    encoder_vars_df = pd.DataFrame(encoder_var_array, columns=encoder_name)
    df = pd.concat([df, encoder_vars_df], axis=1)
    return df

In [5]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import FunctionTransformer

יש לנו בעיה בשימוש במשתנים האלה, יש הרבה מאוד ספרים שאין להם קטגוריה, אפשר להזין להם 0, אבל זה עדיין יהיה בעל משמעות מסוימת וזה לא יהיה נכון

In [6]:
df = pd.read_csv(r'C:\Users\yotam\Desktop\naya\df_clean_after_pca')
df = df[df['rating']!=0]
df_isbn = df['isbn']
num_dict = {}
for i,j in enumerate(df_isbn.unique()):
    num_dict[j]=i
df['isbn_num'] = df['isbn'].apply(lambda txt: num_dict[txt])
df = df.reset_index(drop = True)

In [8]:
df.head()

,Unnamed: 0,index,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,...,221,222,223,224,225,226,227,228,229,isbn_num
0,0,0,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,...,0.03518,-0.125755,-0.019404,0.044569,-0.040087,0.005104,0.023391,0.116895,0.013755,0
1,2,2,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,...,0.03518,-0.125755,-0.019404,0.044569,-0.040087,0.005104,0.023391,0.116895,0.013755,0
2,4,4,67544,"toronto, ontario, canada",30.0000,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,...,0.03518,-0.125755,-0.019404,0.044569,-0.040087,0.005104,0.023391,0.116895,0.013755,0
3,7,7,116866,"ottawa, ,",34.7439,0002005018,9,Clara Callan,Richard Bruce Wright,2001.0,...,0.03518,-0.125755,-0.019404,0.044569,-0.040087,0.005104,0.023391,0.116895,0.013755,0
4,9,9,200273,"comber, ontario, canada",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,...,0.03518,-0.125755,-0.019404,0.044569,-0.040087,0.005104,0.023391,0.116895,0.013755,0

In [7]:
book_author = df['book_author']
num_dict = {}
for i,j in enumerate(book_author.unique()):
    num_dict[j]=i
df['author_num'] = df['book_author'].apply(lambda txt: num_dict[txt])

In [8]:
df =reader_encode(df)
#לשקול לעשות פה שאפל מוגדר
train_users, test_users = train_test_split(df, test_size = 0.2 , random_state= 42)
x_train = train_users.drop(columns=['rating'])
y_train = train_users["rating"]

x_test = test_users.drop(columns=['rating'])
y_test = test_users["rating"]
all_users = train_users["user_id"].unique()
all_books = train_users["isbn_num"].unique()
all_authors = train_users["author_num"].unique()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [7]:
#df = pd.read_csv(r'/Users/royzalta/Downloads/archive/Books Data with Category Language and Summary/Preprocessed_data.csv')

In [5]:
#df = pd.read_csv(r"C:\Users\yotam\Desktop\naya\Preprocessed_data.csv")

## Implemation of TenserFlow

### naive model

# full pipline

In [16]:
user_input = tf.keras.layers.Input(shape=(1,), name="user")
user_as_integer = tf.keras.layers.IntegerLookup(vocabulary=all_users)(user_input)
user_embedding = tf.keras.layers.Embedding(input_dim=len(all_users) + 1, output_dim=32)(user_as_integer)
user_bias = tf.keras.layers.Embedding(input_dim=len(all_users) + 1, output_dim=1)(user_as_integer)

book_input = tf.keras.layers.Input(shape=(1,), name="book")
book_as_integer = tf.keras.layers.IntegerLookup(vocabulary=all_books)(book_input)
book_embedding = tf.keras.layers.Embedding(input_dim=len(all_books) + 1, output_dim=32)(book_as_integer)
book_bias = tf.keras.layers.Embedding(input_dim=len(all_books) + 1, output_dim=1)(book_as_integer)

dot = tf.keras.layers.Dot(axes=2)([user_embedding, book_embedding])
add = tf.keras.layers.Add()([dot, user_bias, book_bias])
flatten = tf.keras.layers.Flatten()(add)
squash = tf.keras.layers.Lambda(lambda x: 9 * tf.nn.sigmoid(x) + 1)(flatten)

model = tf.keras.Model(inputs=[user_input, book_input], outputs=squash)


model.compile(loss="mse", metrics=[tf.keras.metrics.MeanAbsoluteError(),tf.keras.metrics.RootMeanSquaredError()])

In [17]:
model.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 user (InputLayer)           [(None, 1)]                  0         []

 book (InputLayer)           [(None, 1)]                  0         []

 integer_lookup_2 (IntegerL  (None, 1)                    0         ['user[0][0]']
 ookup)

 integer_lookup_3 (IntegerL  (None, 1)                    0         ['book[0][0]']
 ookup)

 embedding_2 (Embedding)     (None, 1, 32)                767456    ['integer_lookup_2[0][0]']

 embedding_4 (Embedding)     (None, 1, 32)                953120    ['integer_lookup_3[0][0]']

 dot_1 (Dot)                 (None, 1, 1)                 0         ['embedding_2[0][0]',
                                                                     'embedding_4[0][0]']

 embedding_3 (Embedding)     (None, 1, 1)                 23983     ['integer_lookup_2[0][0]']

 embedding_5 (Embedding)     (None, 1, 1)                 29785     ['integer_lookup_3[0][0]']

 add (Add)                   (None, 1, 1)                 0         ['dot_1[0][0]',
                                                                     'embedding_3[0][0]',
                                                                     'embedding_5[0][0]']

 flatten_1 (Flatten)         (None, 1)                    0         ['add[0][0]']

 lambda (Lambda)             (None, 1)                    0         ['flatten_1[0][0]']

==================================================================================================
Total params: 1774344 (6.77 MB)
Trainable params: 1774344 (6.77 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [18]:
 model.fit(
     x={
         "user": x_train["user_id"],
         "book": x_train["isbn_num"]
     },
     y=y_train.values,
     batch_size=128,
     epochs=20,
     validation_split=0.1, # for early stopping
     callbacks=[
         tf.keras.callbacks.EarlyStopping(patience=5, restore_best_weights=True)
     ],
 )

Epoch 1/20
1164/1164 [==============================] - 12s 10ms/step - loss: 7.4251 - mean_absolute_error: 2.3758 - root_mean_squared_error: 2.7249 - val_loss: 6.8057 - val_mean_absolute_error: 2.2563 - val_root_mean_squared_error: 2.6088
Epoch 2/20
1164/1164 [==============================] - 12s 10ms/step - loss: 6.3311 - mean_absolute_error: 2.1628 - root_mean_squared_error: 2.5162 - val_loss: 5.9958 - val_mean_absolute_error: 2.0909 - val_root_mean_squared_error: 2.4486
Epoch 3/20
1164/1164 [==============================] - 11s 9ms/step - loss: 5.5415 - mean_absolute_error: 1.9950 - root_mean_squared_error: 2.3540 - val_loss: 5.4209 - val_mean_absolute_error: 1.9672 - val_root_mean_squared_error: 2.3283
Epoch 4/20
1164/1164 [==============================] - 12s 10ms/step - loss: 4.9245 - mean_absolute_error: 1.8545 - root_mean_squared_error: 2.2191 - val_loss: 4.9960 - val_mean_absolute_error: 1.8713 - val_root_mean_squared_error: 2.2352
Epoch 5/20
1164/1164 [==============================] - 11s 9ms/step - loss: 4.4186 - mean_absolute_error: 1.7314 - root_mean_squared_error: 2.1021 - val_loss: 4.6760 - val_mean_absolute_error: 1.7964 - val_root_mean_squared_error: 2.1624
Epoch 6/20
1164/1164 [==============================] - 11s 9ms/step - loss: 3.9906 - mean_absolute_error: 1.6216 - root_mean_squared_error: 1.9976 - val_loss: 4.4326 - val_mean_absolute_error: 1.7377 - val_root_mean_squared_error: 2.1054
Epoch 7/20
1164/1164 [==============================] - 11s 9ms/step - loss: 3.6207 - mean_absolute_error: 1.5216 - root_mean_squared_error: 1.9028 - val_loss: 4.2456 - val_mean_absolute_error: 1.6914 - val_root_mean_squared_error: 2.0605
Epoch 8/20
1164/1164 [==============================] - 10s 9ms/step - loss: 3.2943 - mean_absolute_error: 1.4295 - root_mean_squared_error: 1.8150 - val_loss: 4.1004 - val_mean_absolute_error: 1.6542 - val_root_mean_squared_error: 2.0249
Epoch 9/20
1164/1164 [==============================] - 11s 9ms/step - loss: 3.0018 - mean_absolute_error: 1.3431 - root_mean_squared_error: 1.7326 - val_loss: 3.9884 - val_mean_absolute_error: 1.6253 - val_root_mean_squared_error: 1.9971
Epoch 10/20
1164/1164 [==============================] - 10s 9ms/step - loss: 2.7368 - mean_absolute_error: 1.2615 - root_mean_squared_error: 1.6543 - val_loss: 3.9008 - val_mean_absolute_error: 1.6019 - val_root_mean_squared_error: 1.9750
Epoch 11/20
1164/1164 [==============================] - 11s 9ms/step - loss: 2.4949 - mean_absolute_error: 1.1839 - root_mean_squared_error: 1.5795 - val_loss: 3.8326 - val_mean_absolute_error: 1.5835 - val_root_mean_squared_error: 1.9577
Epoch 12/20
1164/1164 [==============================] - 11s 9ms/step - loss: 2.2742 - mean_absolute_error: 1.1104 - root_mean_squared_error: 1.5081 - val_loss: 3.7820 - val_mean_absolute_error: 1.5693 - val_root_mean_squared_error: 1.9447
Epoch 13/20
1164/1164 [==============================] - 11s 9ms/step - loss: 2.0725 - mean_absolute_error: 1.0407 - root_mean_squared_error: 1.4396 - val_loss: 3.7442 - val_mean_absolute_error: 1.5586 - val_root_mean_squared_error: 1.9350
Epoch 14/20
1164/1164 [==============================] - 11s 10ms/step - loss: 1.8887 - mean_absolute_error: 0.9749 - root_mean_squared_error: 1.3743 - val_loss: 3.7170 - val_mean_absolute_error: 1.5506 - val_root_mean_squared_error: 1.9280
Epoch 15/20
1164/1164 [==============================] - 11s 9ms/step - loss: 1.7210 - mean_absolute_error: 0.9127 - root_mean_squared_error: 1.3119 - val_loss: 3.6971 - val_mean_absolute_error: 1.5445 - val_root_mean_squared_error: 1.9228
Epoch 16/20
1164/1164 [==============================] - 11s 9ms/step - loss: 1.5687 - mean_absolute_error: 0.8543 - root_mean_squared_error: 1.2525 - val_loss: 3.6836 - val_mean_absolute_error: 1.5399 - val_root_mean_squared_error: 1.9193
Epoch 17/20
1164/1164 [==============================] - 11s 10ms/step - loss: 1.4303 - mean_absolute_error: 0.7994 - root_mean_squared_error: 1.1960 - val_loss: 3.6751 - val_mean_absolute_error: 1.5365 - val_root_mean_squared_error: 1.9171
Epoch 18/20
1164/1164 [==============================] - 11s 9ms/step - loss: 1.3046 - mean_absolute_error: 0.7482 - root_mean_squared_error: 1.1422 - val_loss: 3.6707 - val_mean_absolute_error: 1.5341 - val_root_mean_squared_error: 1.9159
Epoch 19/20
1164/1164 [==============================] - 11s 9ms/step - loss: 1.1905 - mean_absolute_error: 0.7002 - root_mean_squared_error: 1.0911 - val_loss: 3.6696 - val_mean_absolute_error: 1.5322 - val_root_mean_squared_error: 1.9156
Epoch 20/20
1164/1164 [==============================] - 11s 9ms/step - loss: 1.0869 - mean_absolute_error: 0.6556 - root_mean_squared_error: 1.0425 - val_loss: 3.6702 - val_mean_absolute_error: 1.5309 - val_root_mean_squared_error: 1.9158

In [19]:
model.evaluate({
    "user": x_test["user_id"],#.reshape(-1, 1), # fill user 1 in many times
    "book": x_test["isbn_num"]#.reshape(-1, 1)
},y_test)

1293/1293 [==============================] - 3s 1ms/step - loss: 3.7359 - mean_absolute_error: 1.5488 - root_mean_squared_error: 1.9328

[3.7358641624450684, 1.5488183498382568, 1.9328383207321167]

 ### model with more inputs:

 ### model with emmbeding category and summerys:

In [33]:
user_input = tf.keras.layers.Input(shape=(1,), name="user")
user_as_integer = tf.keras.layers.IntegerLookup(vocabulary=all_users)(user_input)
user_embedding = tf.keras.layers.Embedding(input_dim=len(all_users) + 1, output_dim=32)(user_as_integer)
user_bias = tf.keras.layers.Embedding(input_dim=len(all_users) + 1, output_dim=1)(user_as_integer)

book_input = tf.keras.layers.Input(shape=(1,), name="book")
book_as_integer = tf.keras.layers.IntegerLookup(vocabulary=all_books)(book_input)
book_embedding = tf.keras.layers.Embedding(input_dim=len(all_books) + 1, output_dim=32)(book_as_integer)
book_bias = tf.keras.layers.Embedding(input_dim=len(all_books) + 1, output_dim=1)(book_as_integer)




feature_input = tf.keras.layers.Input(shape=(230,), name="user_book_data")
feature = tf.keras.layers.Dense(200, name="add_some_feature")(feature_input)
dropout1 = tf.keras.layers.Dropout(0.3, name="drop_some_feature")(feature)
feature2 = tf.keras.layers.Dense(64, activation = 'relu', name="add_some_feature2")(dropout1)

dot = tf.keras.layers.Dot(axes=2)([user_embedding, book_embedding])
add = tf.keras.layers.Add()([dot, user_bias, book_bias])
flatten = tf.keras.layers.Flatten()(add)
con = tf.keras.layers.concatenate([flatten,feature2])
dense2 = tf.keras.layers.Dense(128, activation = 'relu', name="dence_layer2")(con)
dropout2 = tf.keras.layers.Dropout(0.3, name="drop_some_feature3")(dense2)
dense3 = tf.keras.layers.Dense(64, activation = 'relu', name="dence_layer3")(dropout2)
dropout3 = tf.keras.layers.Dropout(0.3, name="drop_some_feature4")(dense3)
dense4 = tf.keras.layers.Dense(16, activation = 'relu', name="dence_layer4")(dropout3)
dropout4 = tf.keras.layers.Dropout(0.3, name="drop_some_feature5")(dense4)

squash = tf.keras.layers.Lambda(lambda x: 9 * tf.nn.sigmoid(x) + 1)(dropout4)


#dropout2 = tf.keras.layers.Dropout(0.25, name="drop_some_feature2")(dropout2)



#dot = tf.keras.layers.Dot(axes=2)([user_embedding, book_embedding])
#add = tf.keras.layers.Add()([dot, user_bias, book_bias])
#flatten = tf.keras.layers.Flatten()(add)
#con = tf.keras.layers.concatenate([flatten,dropout2])
#dense2 = tf.keras.layers.Dense(100, activation = 'relu', name="dence_layer")(con)
#dropout2 = tf.keras.layers.Dropout(0.2, name="drop_some_feature3")(dense2)

#squash = tf.keras.layers.Lambda(lambda x: 9 * tf.nn.sigmoid(x) + 1)(con)

model = tf.keras.Model(inputs=[user_input, book_input,feature_input], outputs=squash)


model.compile(loss="mse", metrics=[tf.keras.metrics.MeanAbsoluteError(),tf.keras.metrics.RootMeanSquaredError()])

In [34]:
model.summary()

Model: "model_2"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 user (InputLayer)           [(None, 1)]                  0         []

 book (InputLayer)           [(None, 1)]                  0         []

 integer_lookup_4 (IntegerL  (None, 1)                    0         ['user[0][0]']
 ookup)

 integer_lookup_5 (IntegerL  (None, 1)                    0         ['book[0][0]']
 ookup)

 embedding_8 (Embedding)     (None, 1, 32)                767456    ['integer_lookup_4[0][0]']

 embedding_10 (Embedding)    (None, 1, 32)                953120    ['integer_lookup_5[0][0]']

 user_book_data (InputLayer  [(None, 230)]                0         []
 )

 dot_2 (Dot)                 (None, 1, 1)                 0         ['embedding_8[0][0]',
                                                                     'embedding_10[0][0]']

 embedding_9 (Embedding)     (None, 1, 1)                 23983     ['integer_lookup_4[0][0]']

 embedding_11 (Embedding)    (None, 1, 1)                 29785     ['integer_lookup_5[0][0]']

 add_some_feature (Dense)    (None, 200)                  46200     ['user_book_data[0][0]']

 add_2 (Add)                 (None, 1, 1)                 0         ['dot_2[0][0]',
                                                                     'embedding_9[0][0]',
                                                                     'embedding_11[0][0]']

 drop_some_feature (Dropout  (None, 200)                  0         ['add_some_feature[0][0]']
 )

 flatten_2 (Flatten)         (None, 1)                    0         ['add_2[0][0]']

 add_some_feature2 (Dense)   (None, 64)                   12864     ['drop_some_feature[0][0]']

 concatenate_4 (Concatenate  (None, 65)                   0         ['flatten_2[0][0]',
 )                                                                   'add_some_feature2[0][0]']

 dence_layer2 (Dense)        (None, 128)                  8448      ['concatenate_4[0][0]']

 drop_some_feature3 (Dropou  (None, 128)                  0         ['dence_layer2[0][0]']
 t)

 dence_layer3 (Dense)        (None, 64)                   8256      ['drop_some_feature3[0][0]']

 drop_some_feature4 (Dropou  (None, 64)                   0         ['dence_layer3[0][0]']
 t)

 dence_layer4 (Dense)        (None, 16)                   1040      ['drop_some_feature4[0][0]']

 drop_some_feature5 (Dropou  (None, 16)                   0         ['dence_layer4[0][0]']
 t)

 lambda_2 (Lambda)           (None, 16)                   0         ['drop_some_feature5[0][0]']

==================================================================================================
Total params: 1851152 (7.06 MB)
Trainable params: 1851152 (7.06 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [35]:
 model.fit(
     x={
         "user": x_train["user_id"],
         "book": x_train["isbn_num"],
         "user_book_data":x_train[[str(i) for i in range(0,230)]]
     },
     y=y_train.values,
     batch_size=128,
     epochs=30,
     validation_split=0.1, # for early stopping
     callbacks=[
         tf.keras.callbacks.EarlyStopping(patience=6, restore_best_weights=True)
     ],
 )

Epoch 1/30
1164/1164 [==============================] - 23s 16ms/step - loss: 4.6601 - mean_absolute_error: 1.7444 - root_mean_squared_error: 2.1587 - val_loss: 3.1517 - val_mean_absolute_error: 1.4580 - val_root_mean_squared_error: 1.7753
Epoch 2/30
1164/1164 [==============================] - 12s 11ms/step - loss: 4.2731 - mean_absolute_error: 1.6274 - root_mean_squared_error: 2.0671 - val_loss: 2.9671 - val_mean_absolute_error: 1.3936 - val_root_mean_squared_error: 1.7225
Epoch 3/30
1164/1164 [==============================] - 13s 11ms/step - loss: 3.9745 - mean_absolute_error: 1.5246 - root_mean_squared_error: 1.9936 - val_loss: 2.9886 - val_mean_absolute_error: 1.3944 - val_root_mean_squared_error: 1.7288
Epoch 4/30
1164/1164 [==============================] - 13s 11ms/step - loss: 3.6755 - mean_absolute_error: 1.4162 - root_mean_squared_error: 1.9171 - val_loss: 3.0045 - val_mean_absolute_error: 1.3808 - val_root_mean_squared_error: 1.7333
Epoch 5/30
1164/1164 [==============================] - 13s 11ms/step - loss: 3.3882 - mean_absolute_error: 1.3120 - root_mean_squared_error: 1.8407 - val_loss: 3.1908 - val_mean_absolute_error: 1.4304 - val_root_mean_squared_error: 1.7863
Epoch 6/30
1164/1164 [==============================] - 13s 11ms/step - loss: 3.1700 - mean_absolute_error: 1.2260 - root_mean_squared_error: 1.7804 - val_loss: 3.1671 - val_mean_absolute_error: 1.4119 - val_root_mean_squared_error: 1.7796
Epoch 7/30
1164/1164 [==============================] - 13s 11ms/step - loss: 3.0124 - mean_absolute_error: 1.1590 - root_mean_squared_error: 1.7356 - val_loss: 3.2187 - val_mean_absolute_error: 1.4127 - val_root_mean_squared_error: 1.7941
Epoch 8/30
1164/1164 [==============================] - 12s 11ms/step - loss: 2.9212 - mean_absolute_error: 1.1130 - root_mean_squared_error: 1.7092 - val_loss: 3.2080 - val_mean_absolute_error: 1.4150 - val_root_mean_squared_error: 1.7911

In [69]:
model.save('deep_model_emmbeding.h5')

C:\Users\yotam\AppData\Roaming\Python\Python39\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [36]:
model.evaluate({
    "user": x_test["user_id"],#.reshape(-1, 1), # fill user 1 in many times
    "book": x_test["isbn_num"],#.reshape(-1, 1),
    "user_book_data":x_test[[str(i) for i in range(0,230)]]
},y_test)

1293/1293 [==============================] - 3s 2ms/step - loss: 3.0212 - mean_absolute_error: 1.4065 - root_mean_squared_error: 1.7382

[3.021188497543335, 1.4065338373184204, 1.7381566762924194]

In [54]:
pred = model.predict({
    "user": x_test["user_id"],#.reshape(-1, 1), # fill user 1 in many times
    "book": x_test["isbn_num"],#.reshape(-1, 1),
    "user_book_data":x_test[[str(i) for i in range(0,230)]]
})

1293/1293 [==============================] - 2s 1ms/step

In [68]:
minp = 99
maxp =0
for i in range(len(pred)):
    for j in range(len(pred[i])):
        minp = min(minp,pred[i][j])
        maxp = max(maxp,pred[i][j])
print(minp,",",maxp)

5.5 , 9.991598

### with country and lang

In [10]:
list(x_train.columns)[250]

'author_num'

In [25]:
user_input = tf.keras.layers.Input(shape=(1,), name="user")
user_as_integer = tf.keras.layers.IntegerLookup(vocabulary=all_users)(user_input)
user_embedding = tf.keras.layers.Embedding(input_dim=len(all_users) + 1, output_dim=32)(user_as_integer)
user_bias = tf.keras.layers.Embedding(input_dim=len(all_users) + 1, output_dim=1)(user_as_integer)

book_input = tf.keras.layers.Input(shape=(1,), name="book")
book_as_integer = tf.keras.layers.IntegerLookup(vocabulary=all_books)(book_input)
book_embedding = tf.keras.layers.Embedding(input_dim=len(all_books) + 1, output_dim=32)(book_as_integer)
book_bias = tf.keras.layers.Embedding(input_dim=len(all_books) + 1, output_dim=1)(book_as_integer)




feature_input = tf.keras.layers.Input(shape=(230,), name="book_data")
feature = tf.keras.layers.Dense(200, name="add_some_feature")(feature_input)
dropout1 = tf.keras.layers.Dropout(0.3, name="drop_some_feature")(feature)
feature2 = tf.keras.layers.Dense(64, activation = 'relu', name="add_some_feature2")(dropout1)

user_feature_input = tf.keras.layers.Input(shape=(176,), name="user_data")
feature_u = tf.keras.layers.Dense(128, name="add_some_feature_u")(user_feature_input)
dropout1_u = tf.keras.layers.Dropout(0.4, name="drop_some_feature_u")(feature_u)
feature2_u = tf.keras.layers.Dense(64, activation = 'relu', name="add_some_feature2_u")(dropout1_u)


dot = tf.keras.layers.Dot(axes=2)([user_embedding, book_embedding])
add = tf.keras.layers.Add()([dot, user_bias, book_bias])
flatten = tf.keras.layers.Flatten()(add)
con_book_users = tf.keras.layers.concatenate([feature2,feature2_u])
feature2_u = tf.keras.layers.Dense(128, activation = 'relu', name="reader_book_type")(con_book_users)

con = tf.keras.layers.concatenate([flatten,feature2_u])#,feature2_u])
dense2 = tf.keras.layers.Dense(128, activation = 'relu', name="dence_layer2")(con)
dropout2 = tf.keras.layers.Dropout(0.3, name="drop_some_feature3")(dense2)
dense3 = tf.keras.layers.Dense(64, activation = 'relu', name="dence_layer3")(dropout2)
dropout3 = tf.keras.layers.Dropout(0.3, name="drop_some_feature4")(dense3)
dense4 = tf.keras.layers.Dense(16, activation = 'relu', name="dence_layer4")(dropout3)
dropout4 = tf.keras.layers.Dropout(0.3, name="drop_some_feature5")(dense4)

squash = tf.keras.layers.Lambda(lambda x: 9 * tf.nn.sigmoid(x) + 1)(dropout4)



model = tf.keras.Model(inputs=[user_input, book_input,feature_input,user_feature_input], outputs=squash)


model.compile(loss="mse", metrics=[tf.keras.metrics.MeanAbsoluteError(),tf.keras.metrics.RootMeanSquaredError()])

In [11]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 user (InputLayer)           [(None, 1)]                  0         []

 book (InputLayer)           [(None, 1)]                  0         []

 book_data (InputLayer)      [(None, 230)]                0         []

 user_data (InputLayer)      [(None, 176)]                0         []

 integer_lookup (IntegerLoo  (None, 1)                    0         ['user[0][0]']
 kup)

 integer_lookup_1 (IntegerL  (None, 1)                    0         ['book[0][0]']
 ookup)

 add_some_feature (Dense)    (None, 200)                  46200     ['book_data[0][0]']

 add_some_feature_u (Dense)  (None, 128)                  22656     ['user_data[0][0]']

 embedding (Embedding)       (None, 1, 32)                767456    ['integer_lookup[0][0]']

 embedding_2 (Embedding)     (None, 1, 32)                953120    ['integer_lookup_1[0][0]']

 drop_some_feature (Dropout  (None, 200)                  0         ['add_some_feature[0][0]']
 )

 drop_some_feature_u (Dropo  (None, 128)                  0         ['add_some_feature_u[0][0]']
 ut)

 dot (Dot)                   (None, 1, 1)                 0         ['embedding[0][0]',
                                                                     'embedding_2[0][0]']

 embedding_1 (Embedding)     (None, 1, 1)                 23983     ['integer_lookup[0][0]']

 embedding_3 (Embedding)     (None, 1, 1)                 29785     ['integer_lookup_1[0][0]']

 add_some_feature2 (Dense)   (None, 64)                   12864     ['drop_some_feature[0][0]']

 add_some_feature2_u (Dense  (None, 64)                   8256      ['drop_some_feature_u[0][0]']
 )

 add (Add)                   (None, 1, 1)                 0         ['dot[0][0]',
                                                                     'embedding_1[0][0]',
                                                                     'embedding_3[0][0]']

 concatenate (Concatenate)   (None, 128)                  0         ['add_some_feature2[0][0]',
                                                                     'add_some_feature2_u[0][0]']

 flatten (Flatten)           (None, 1)                    0         ['add[0][0]']

 reader_book_type (Dense)    (None, 128)                  16512     ['concatenate[0][0]']

 concatenate_1 (Concatenate  (None, 129)                  0         ['flatten[0][0]',
 )                                                                   'reader_book_type[0][0]']

 dence_layer2 (Dense)        (None, 128)                  16640     ['concatenate_1[0][0]']

 drop_some_feature3 (Dropou  (None, 128)                  0         ['dence_layer2[0][0]']
 t)

 dence_layer3 (Dense)        (None, 64)                   8256      ['drop_some_feature3[0][0]']

 drop_some_feature4 (Dropou  (None, 64)                   0         ['dence_layer3[0][0]']
 t)

 dence_layer4 (Dense)        (None, 16)                   1040      ['drop_some_feature4[0][0]']

 drop_some_feature5 (Dropou  (None, 16)                   0         ['dence_layer4[0][0]']
 t)

 lambda (Lambda)             (None, 16)                   0         ['drop_some_feature5[0][0]']

==================================================================================================
Total params: 1906768 (7.27 MB)
Trainable params: 1906768 (7.27 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

['Language_9',
 'Language_da',
 'Language_de',
 'Language_en',
 'Language_es',
 'Language_fr',
 'Language_it',
 'Language_nl',
 'Language_ru',
 'Language_th',
 'country_,',
 'country_aberdeenshire, united kingdom',
 'country_albania',
 'country_alderney',
 'country_america',
 'country_andalucia, spain',
 'country_antarctica',
 'country_argentina',
 'country_aruba',
 'country_australia',
 'country_austria',
 'country_bahamas',
 'country_bahrain',
 'country_barbados',
 'country_belgium',
 'country_belize',
 'country_bermuda',
 'country_bolivia',
 'country_brazil',
 'country_british columbia, canada',
 'country_bulgaria',
 'country_burma',
 'country_california, usa',
 'country_cambridgeshire, united kingdom',
 'country_canada',
 'country_canary islands, spain',
 'country_cape verde',
 'country_catalonia',
 'country_catalunya, spain',
 'country_cayman islands',
 'country_chile',
 'country_china',
 'country_co. carlow, ireland',
 'country_costa rica',
 'country_cuba',
 'country_cyprus',
 'country_czech republic',
 'country_dc, usa',
 'country_denmark',
 'country_deutschland',
 'country_district of columbia, usa',
 'country_dominican republic',
 'country_ecuador',
 'country_egypt',
 'country_england',
 'country_england, united kingdom',
 'country_españa',
 'country_euskal herria',
 'country_everywhere and anywhere',
 'country_far away...',
 'country_finland',
 'country_florida, usa',
 'country_fort bend',
 'country_framingham',
 'country_france',
 'country_germany',
 'country_greece',
 'country_grenada',
 'country_guernsey',
 'country_guernsey, channel islands',
 'country_guinea',
 'country_hawaii, usa',
 'country_honduras',
 'country_hong kong',
 'country_hungary',
 'country_iceland',
 'country_iceland, iceland',
 'country_idaho, usa',
 'country_ile de france, france',
 'country_illinois, usa',
 'country_india',
 'country_iran',
 'country_ireland',
 'country_israel',
 'country_italia',
 'country_italy',
 'country_jamaica',
 'country_japan',
 'country_kazakhstan',
 'country_kenya',
 'country_kuwait',
 'country_la chine éternelle!',
 'country_laos',
 'country_luxembourg',
 'country_madagascar',
 'country_malaysia',
 'country_malta',
 'country_maryland, usa',
 'country_mexico',
 'country_michigan, usa',
 'country_moldova',
 'country_morgan',
 'country_n/a - on the road',
 'country_netherlands',
 'country_new brunswick, canada',
 'country_new south wales, australia',
 'country_new york, georgia, usa',
 'country_new york, usa',
 'country_new zealand',
 'country_north yorkshire, united kingdom',
 'country_norway',
 'country_nz',
 'country_oeiras, portugal',
 'country_ohio, usa',
 'country_okinawa, japan',
 'country_ontario, canada',
 'country_oregon, usa',
 'country_orense',
 'country_pakistan',
 'country_papua new guinea',
 'country_peru',
 'country_philippines',
 'country_phillipines',
 'country_poland',
 'country_portugal',
 'country_puerto rico',
 'country_qatar',
 'country_quit',
 'country_romania',
 'country_russia',
 'country_rutherford',
 'country_saint lucia',
 'country_saudi arabia',
 'country_scotland',
 'country_seoul, south korea',
 'country_singapore',
 'country_singapore, singapore',
 'country_slovakia',
 'country_slovenia',
 'country_south africa',
 'country_south korea',
 'country_spain',
 'country_sri lanka',
 'country_sweden',
 'country_switzerland',
 'country_switzerland"',
 'country_taiwan',
 'country_tanzania',
 'country_tennessee, usa',
 'country_texas, usa',
 'country_thailand',
 'country_tn, usa',
 'country_trinidad and tobago',
 'country_turkey',
 'country_u.k.',
 'country_u.s.a.',
 'country_u.s>',
 'country_ukraine',
 'country_united kindgonm',
 'country_united kingdom',
 'country_united state',
 'country_united states',
 'country_universe',
 'country_uruguay',
 'country_us',
 'country_usa',
 'country_usa, kansas, usa',
 'country_van wert',
 'country_venezuela',
 'country_vietnam',
 'country_virginia, usa',
 'country_wales',
 'country_west indies, tobago',
 'country_west yorkshire, united kingdom',
 'country_ysa',
 'country_nan',
 'age',
 'year_of_publication']

In [26]:
 model.fit(
     x={
         "user": x_train["user_id"],
         "book": x_train["isbn_num"],
         "book_data":x_train[[str(i) for i in range(0,230)]], #category and summary
         'user_data':x_train[list(x_train.columns)[251:]]#+['age','year_of_publication']] #
     },
     y=y_train.values,
     batch_size=128,
     epochs=100,
     validation_split=0.1, # for early stopping
     shuffle= True,

     callbacks=[
         tf.keras.callbacks.EarlyStopping(patience=13, restore_best_weights=True)
     ],
 )

Epoch 1/100
1164/1164 [==============================] - 18s 14ms/step - loss: 4.6415 - mean_absolute_error: 1.7400 - root_mean_squared_error: 2.1544 - val_loss: 3.2592 - val_mean_absolute_error: 1.4913 - val_root_mean_squared_error: 1.8053
Epoch 2/100
1164/1164 [==============================] - 21s 18ms/step - loss: 4.2664 - mean_absolute_error: 1.6238 - root_mean_squared_error: 2.0655 - val_loss: 3.1716 - val_mean_absolute_error: 1.4629 - val_root_mean_squared_error: 1.7809
Epoch 3/100
1164/1164 [==============================] - 14s 12ms/step - loss: 3.9641 - mean_absolute_error: 1.5192 - root_mean_squared_error: 1.9910 - val_loss: 3.0105 - val_mean_absolute_error: 1.3966 - val_root_mean_squared_error: 1.7351
Epoch 4/100
1164/1164 [==============================] - 15s 13ms/step - loss: 3.6471 - mean_absolute_error: 1.4065 - root_mean_squared_error: 1.9097 - val_loss: 3.1164 - val_mean_absolute_error: 1.4227 - val_root_mean_squared_error: 1.7653
Epoch 5/100
1164/1164 [==============================] - 16s 14ms/step - loss: 3.3751 - mean_absolute_error: 1.3053 - root_mean_squared_error: 1.8371 - val_loss: 3.1729 - val_mean_absolute_error: 1.4294 - val_root_mean_squared_error: 1.7813
Epoch 6/100
1164/1164 [==============================] - 14s 12ms/step - loss: 3.1607 - mean_absolute_error: 1.2214 - root_mean_squared_error: 1.7778 - val_loss: 3.1202 - val_mean_absolute_error: 1.3989 - val_root_mean_squared_error: 1.7664
Epoch 7/100
1164/1164 [==============================] - 15s 13ms/step - loss: 3.0183 - mean_absolute_error: 1.1586 - root_mean_squared_error: 1.7373 - val_loss: 3.1424 - val_mean_absolute_error: 1.3973 - val_root_mean_squared_error: 1.7727
Epoch 8/100
1164/1164 [==============================] - 15s 13ms/step - loss: 2.9120 - mean_absolute_error: 1.1091 - root_mean_squared_error: 1.7064 - val_loss: 3.3038 - val_mean_absolute_error: 1.4384 - val_root_mean_squared_error: 1.8176
Epoch 9/100
1164/1164 [==============================] - 16s 13ms/step - loss: 2.8497 - mean_absolute_error: 1.0729 - root_mean_squared_error: 1.6881 - val_loss: 3.3325 - val_mean_absolute_error: 1.4496 - val_root_mean_squared_error: 1.8255
Epoch 10/100
1164/1164 [==============================] - 14s 12ms/step - loss: 2.8083 - mean_absolute_error: 1.0462 - root_mean_squared_error: 1.6758 - val_loss: 3.3359 - val_mean_absolute_error: 1.4468 - val_root_mean_squared_error: 1.8265
Epoch 11/100
1164/1164 [==============================] - 15s 13ms/step - loss: 2.7773 - mean_absolute_error: 1.0246 - root_mean_squared_error: 1.6665 - val_loss: 3.3682 - val_mean_absolute_error: 1.4422 - val_root_mean_squared_error: 1.8353
Epoch 12/100
1164/1164 [==============================] - 15s 13ms/step - loss: 2.7613 - mean_absolute_error: 1.0079 - root_mean_squared_error: 1.6617 - val_loss: 3.3175 - val_mean_absolute_error: 1.4425 - val_root_mean_squared_error: 1.8214
Epoch 13/100
1164/1164 [==============================] - 14s 12ms/step - loss: 2.7419 - mean_absolute_error: 0.9932 - root_mean_squared_error: 1.6559 - val_loss: 3.3559 - val_mean_absolute_error: 1.4473 - val_root_mean_squared_error: 1.8319
Epoch 14/100
1164/1164 [==============================] - 15s 13ms/step - loss: 2.7308 - mean_absolute_error: 0.9821 - root_mean_squared_error: 1.6525 - val_loss: 3.3555 - val_mean_absolute_error: 1.4407 - val_root_mean_squared_error: 1.8318
Epoch 15/100
1164/1164 [==============================] - 15s 13ms/step - loss: 2.7194 - mean_absolute_error: 0.9742 - root_mean_squared_error: 1.6490 - val_loss: 3.3969 - val_mean_absolute_error: 1.4504 - val_root_mean_squared_error: 1.8431
Epoch 16/100
1164/1164 [==============================] - 14s 12ms/step - loss: 2.7140 - mean_absolute_error: 0.9685 - root_mean_squared_error: 1.6474 - val_loss: 3.3757 - val_mean_absolute_error: 1.4460 - val_root_mean_squared_error: 1.8373

In [27]:
model.evaluate({
    "user": x_test["user_id"],#.reshape(-1, 1), # fill user 1 in many times
    "book": x_test["isbn_num"],#.reshape(-1, 1),
    "book_data":x_test[[str(i) for i in range(0,230)]],
    'user_data':x_test[list(x_train.columns)[251:]]
},y_test)

1293/1293 [==============================] - 3s 2ms/step - loss: 3.0826 - mean_absolute_error: 1.4157 - root_mean_squared_error: 1.7557

[3.082643747329712, 1.4157321453094482, 1.7557458877563477]

In [28]:
import numpy as np
from keras import Input, Model
from keras.layers import SimpleRNN, Dense

In [32]:
model.save('deep_model_emmbeding_leng.h5')

C:\Users\yotam\AppData\Roaming\Python\Python39\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [33]:
model.evaluate({
    "user": x_test["user_id"],#.reshape(-1, 1), # fill user 1 in many times
    "book": x_test["isbn_num"],#.reshape(-1, 1),
    "user_book_data":x_test[[str(i) for i in range(0,230)]],
    'user_data_add':x_test[list(x_train.columns)[250:]]
},y_test)

1293/1293 [==============================] - 3s 2ms/step - loss: 3.0913 - mean_absolute_error: 1.4042 - root_mean_squared_error: 1.7582

[3.0912551879882812, 1.404232144355774, 1.7581965923309326]

## with outhers emmbeded

In [20]:
df.head()

,Unnamed: 0,index,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,...,221,222,223,224,225,226,227,228,229,isbn_num
0,0,0,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,...,0.03518,-0.125755,-0.019404,0.044569,-0.040087,0.005104,0.023391,0.116895,0.013755,0
1,2,2,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,...,0.03518,-0.125755,-0.019404,0.044569,-0.040087,0.005104,0.023391,0.116895,0.013755,0
2,4,4,67544,"toronto, ontario, canada",30.0000,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,...,0.03518,-0.125755,-0.019404,0.044569,-0.040087,0.005104,0.023391,0.116895,0.013755,0
3,7,7,116866,"ottawa, ,",34.7439,0002005018,9,Clara Callan,Richard Bruce Wright,2001.0,...,0.03518,-0.125755,-0.019404,0.044569,-0.040087,0.005104,0.023391,0.116895,0.013755,0
4,9,9,200273,"comber, ontario, canada",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,...,0.03518,-0.125755,-0.019404,0.044569,-0.040087,0.005104,0.023391,0.116895,0.013755,0

In [22]:
user_input = tf.keras.layers.Input(shape=(1,), name="user")
user_as_integer = tf.keras.layers.IntegerLookup(vocabulary=all_users)(user_input)
user_embedding = tf.keras.layers.Embedding(input_dim=len(all_users) + 1, output_dim=32)(user_as_integer)
user_bias = tf.keras.layers.Embedding(input_dim=len(all_users) + 1, output_dim=1)(user_as_integer)

book_input = tf.keras.layers.Input(shape=(1,), name="book")
book_as_integer = tf.keras.layers.IntegerLookup(vocabulary=all_books)(book_input)
book_embedding = tf.keras.layers.Embedding(input_dim=len(all_books) + 1, output_dim=32)(book_as_integer)
book_bias = tf.keras.layers.Embedding(input_dim=len(all_books) + 1, output_dim=1)(book_as_integer)

author_input = tf.keras.layers.Input(shape=(1,), name="author")
author_as_integer = tf.keras.layers.IntegerLookup(vocabulary=all_authors)(author_input)
author_embedding = tf.keras.layers.Embedding(input_dim=len(all_authors) + 1, output_dim=32)(author_as_integer)

dot_author = tf.keras.layers.Dot(axes=2)([user_embedding, author_embedding])
flatten_author = tf.keras.layers.Flatten()(dot_author)


feature_input = tf.keras.layers.Input(shape=(230,), name="book_data")
feature = tf.keras.layers.Dense(200, name="add_some_feature")(feature_input)
dropout1 = tf.keras.layers.Dropout(0.3, name="drop_some_feature")(feature)
feature2 = tf.keras.layers.Dense(128, activation = 'relu', name="add_some_feature2")(dropout1)
dropout1_2 = tf.keras.layers.Dropout(0.3, name="drop_some_feature22")(feature2)
feature2_2 = tf.keras.layers.Dense(64, activation = 'relu', name="add_some_feature22")(dropout1_2)

user_feature_input = tf.keras.layers.Input(shape=(176,), name="user_data")
feature_u = tf.keras.layers.Dense(128, name="add_some_feature_u")(user_feature_input)
dropout1_u = tf.keras.layers.Dropout(0.4, name="drop_some_feature_u2")(feature_u)
feature2_u = tf.keras.layers.Dense(64, activation = 'relu', name="add_some_feature2_u2")(dropout1_u)


dot = tf.keras.layers.Dot(axes=2)([user_embedding, book_embedding])
add = tf.keras.layers.Add()([dot, user_bias, book_bias])
flatten = tf.keras.layers.Flatten()(add)
con_book_users = tf.keras.layers.concatenate([feature2_2,feature2_u])
feature2_u = tf.keras.layers.Dense(128, activation = 'relu', name="reader_book_type")(con_book_users)

con = tf.keras.layers.concatenate([flatten,flatten_author,feature2_u])#,feature2_u])
dense2 = tf.keras.layers.Dense(128, activation = 'relu', name="dence_layer2")(con)
dropout2 = tf.keras.layers.Dropout(0.3, name="drop_some_feature3")(dense2)
dense3 = tf.keras.layers.Dense(64, activation = 'relu', name="dence_layer3")(dropout2)
dropout3 = tf.keras.layers.Dropout(0.3, name="drop_some_feature4")(dense3)
dense4 = tf.keras.layers.Dense(16, activation = 'relu', name="dence_layer4")(dropout3)
dropout4 = tf.keras.layers.Dropout(0.3, name="drop_some_feature5")(dense4)
dense5 = tf.keras.layers.Dense(8, activation = 'relu', name="dence_layer5")(dropout4)
dropout5 = tf.keras.layers.Dropout(0.3, name="drop_some_feature6")(dense5)

squash = tf.keras.layers.Lambda(lambda x: 9 * tf.nn.sigmoid(x) + 1)(dropout5)



model = tf.keras.Model(inputs=[user_input, book_input,author_input,feature_input,user_feature_input], outputs=squash)


model.compile(loss="mse", metrics=[tf.keras.metrics.MeanAbsoluteError(),tf.keras.metrics.RootMeanSquaredError()])

In [18]:
model.summary()

Model: "model_3"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 book_data (InputLayer)      [(None, 230)]                0         []

 add_some_feature (Dense)    (None, 200)                  46200     ['book_data[0][0]']

 user (InputLayer)           [(None, 1)]                  0         []

 book (InputLayer)           [(None, 1)]                  0         []

 drop_some_feature (Dropout  (None, 200)                  0         ['add_some_feature[0][0]']
 )

 user_data (InputLayer)      [(None, 176)]                0         []

 integer_lookup_9 (IntegerL  (None, 1)                    0         ['user[0][0]']
 ookup)

 integer_lookup_10 (Integer  (None, 1)                    0         ['book[0][0]']
 Lookup)

 author (InputLayer)         [(None, 1)]                  0         []

 add_some_feature2 (Dense)   (None, 128)                  25728     ['drop_some_feature[0][0]']

 add_some_feature_u (Dense)  (None, 128)                  22656     ['user_data[0][0]']

 embedding_15 (Embedding)    (None, 1, 32)                767456    ['integer_lookup_9[0][0]']

 embedding_17 (Embedding)    (None, 1, 32)                953120    ['integer_lookup_10[0][0]']

 integer_lookup_11 (Integer  (None, 1)                    0         ['author[0][0]']
 Lookup)

 drop_some_feature22 (Dropo  (None, 128)                  0         ['add_some_feature2[0][0]']
 ut)

 drop_some_feature_u2 (Drop  (None, 128)                  0         ['add_some_feature_u[0][0]']
 out)

 dot_7 (Dot)                 (None, 1, 1)                 0         ['embedding_15[0][0]',
                                                                     'embedding_17[0][0]']

 embedding_16 (Embedding)    (None, 1, 1)                 23983     ['integer_lookup_9[0][0]']

 embedding_18 (Embedding)    (None, 1, 1)                 29785     ['integer_lookup_10[0][0]']

 embedding_19 (Embedding)    (None, 1, 32)                312480    ['integer_lookup_11[0][0]']

 add_some_feature22 (Dense)  (None, 64)                   8256      ['drop_some_feature22[0][0]']

 add_some_feature2_u2 (Dens  (None, 64)                   8256      ['drop_some_feature_u2[0][0]']
 e)

 add_3 (Add)                 (None, 1, 1)                 0         ['dot_7[0][0]',
                                                                     'embedding_16[0][0]',
                                                                     'embedding_18[0][0]']

 dot_6 (Dot)                 (None, 1, 1)                 0         ['embedding_15[0][0]',
                                                                     'embedding_19[0][0]']

 concatenate_6 (Concatenate  (None, 128)                  0         ['add_some_feature22[0][0]',
 )                                                                   'add_some_feature2_u2[0][0]']

 flatten_7 (Flatten)         (None, 1)                    0         ['add_3[0][0]']

 flatten_6 (Flatten)         (None, 1)                    0         ['dot_6[0][0]']

 reader_book_type (Dense)    (None, 128)                  16512     ['concatenate_6[0][0]']

 concatenate_7 (Concatenate  (None, 130)                  0         ['flatten_7[0][0]',
 )                                                                   'flatten_6[0][0]',
                                                                     'reader_book_type[0][0]']

 dence_layer2 (Dense)        (None, 128)                  16768     ['concatenate_7[0][0]']

 drop_some_feature3 (Dropou  (None, 128)                  0         ['dence_layer2[0][0]']
 t)

 dence_layer3 (Dense)        (None, 64)                   8256      ['drop_some_feature3[0][0]']

 drop_some_feature4 (Dropou  (None, 64)                   0         ['dence_layer3[0][0]']

 t)

 dence_layer4 (Dense)        (None, 16)                   1040      ['drop_some_feature4[0][0]']

 drop_some_feature5 (Dropou  (None, 16)                   0         ['dence_layer4[0][0]']
 t)

 dence_layer5 (Dense)        (None, 8)                    136       ['drop_some_feature5[0][0]']

 drop_some_feature6 (Dropou  (None, 8)                    0         ['dence_layer5[0][0]']
 t)

 lambda_3 (Lambda)           (None, 8)                    0         ['drop_some_feature6[0][0]']

==================================================================================================
Total params: 2240632 (8.55 MB)
Trainable params: 2240632 (8.55 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [23]:
 model.fit(
     x={
         "user": x_train["user_id"],
         "book": x_train["isbn_num"],
         "author":x_train['author_num'],
         "book_data":x_train[[str(i) for i in range(0,230)]], #category and summary
         'user_data':x_train[list(x_train.columns)[251:]]#+['age','year_of_publication']] #
     },
     y=y_train.values,
     batch_size=128,
     epochs=100,
     validation_split=0.1, # for early stopping
     shuffle= True,
     callbacks=[
         tf.keras.callbacks.EarlyStopping(patience=8, restore_best_weights=True)
     ],
 )
# לשקול לעשות פה שאפל מוגדר בוולידיישן, יש בעיה עם זה שלא עושים שאפל

Epoch 1/100
1164/1164 [==============================] - 28s 22ms/step - loss: 4.7571 - mean_absolute_error: 1.7696 - root_mean_squared_error: 2.1811 - val_loss: 3.3345 - val_mean_absolute_error: 1.5144 - val_root_mean_squared_error: 1.8261
Epoch 2/100
1164/1164 [==============================] - 17s 14ms/step - loss: 4.3159 - mean_absolute_error: 1.6420 - root_mean_squared_error: 2.0775 - val_loss: 3.0891 - val_mean_absolute_error: 1.4390 - val_root_mean_squared_error: 1.7576
Epoch 3/100
1164/1164 [==============================] - 19s 16ms/step - loss: 3.8654 - mean_absolute_error: 1.4947 - root_mean_squared_error: 1.9661 - val_loss: 2.8875 - val_mean_absolute_error: 1.3546 - val_root_mean_squared_error: 1.6993
Epoch 4/100
1164/1164 [==============================] - 17s 15ms/step - loss: 3.4520 - mean_absolute_error: 1.3535 - root_mean_squared_error: 1.8580 - val_loss: 3.1410 - val_mean_absolute_error: 1.4060 - val_root_mean_squared_error: 1.7723
Epoch 5/100
1164/1164 [==============================] - 17s 15ms/step - loss: 3.2180 - mean_absolute_error: 1.2643 - root_mean_squared_error: 1.7939 - val_loss: 3.1159 - val_mean_absolute_error: 1.3906 - val_root_mean_squared_error: 1.7652
Epoch 6/100
1164/1164 [==============================] - 16s 14ms/step - loss: 3.0774 - mean_absolute_error: 1.2044 - root_mean_squared_error: 1.7543 - val_loss: 3.2450 - val_mean_absolute_error: 1.4237 - val_root_mean_squared_error: 1.8014
Epoch 7/100
1164/1164 [==============================] - 17s 14ms/step - loss: 2.9977 - mean_absolute_error: 1.1642 - root_mean_squared_error: 1.7314 - val_loss: 3.2831 - val_mean_absolute_error: 1.4194 - val_root_mean_squared_error: 1.8119
Epoch 8/100
1164/1164 [==============================] - 17s 15ms/step - loss: 2.9439 - mean_absolute_error: 1.1346 - root_mean_squared_error: 1.7158 - val_loss: 3.2131 - val_mean_absolute_error: 1.4043 - val_root_mean_squared_error: 1.7925
Epoch 9/100
1164/1164 [==============================] - 17s 14ms/step - loss: 2.8854 - mean_absolute_error: 1.1026 - root_mean_squared_error: 1.6987 - val_loss: 3.2582 - val_mean_absolute_error: 1.4157 - val_root_mean_squared_error: 1.8051
Epoch 10/100
1164/1164 [==============================] - 17s 14ms/step - loss: 2.8596 - mean_absolute_error: 1.0841 - root_mean_squared_error: 1.6910 - val_loss: 3.2621 - val_mean_absolute_error: 1.4070 - val_root_mean_squared_error: 1.8061
Epoch 11/100
1164/1164 [==============================] - 17s 14ms/step - loss: 2.8387 - mean_absolute_error: 1.0691 - root_mean_squared_error: 1.6848 - val_loss: 3.1770 - val_mean_absolute_error: 1.3961 - val_root_mean_squared_error: 1.7824

In [24]:
model.evaluate({
    "user": x_test["user_id"],#.reshape(-1, 1), # fill user 1 in many times
    "book": x_test["isbn_num"],#.reshape(-1, 1),
    "author":x_test['author_num'],
    "book_data":x_test[[str(i) for i in range(0,230)]],
    'user_data':x_test[list(x_train.columns)[251:]]
},y_test)

1293/1293 [==============================] - 3s 2ms/step - loss: 2.9318 - mean_absolute_error: 1.3649 - root_mean_squared_error: 1.7122

[2.9317548274993896, 1.3649042844772339, 1.712236762046814]

In [13]:
model.save('deep_model_emmbeding_author.h5')

C:\Users\yotam\AppData\Roaming\Python\Python39\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [42]:
list(x_train.columns)[250:]

['author_num',
 'Language_9',
 'Language_da',
 'Language_de',
 'Language_en',
 'Language_es',
 'Language_fr',
 'Language_it',
 'Language_nl',
 'Language_ru',
 'Language_th',
 'country_,',
 'country_aberdeenshire, united kingdom',
 'country_albania',
 'country_alderney',
 'country_america',
 'country_andalucia, spain',
 'country_antarctica',
 'country_argentina',
 'country_aruba',
 'country_australia',
 'country_austria',
 'country_bahamas',
 'country_bahrain',
 'country_barbados',
 'country_belgium',
 'country_belize',
 'country_bermuda',
 'country_bolivia',
 'country_brazil',
 'country_british columbia, canada',
 'country_bulgaria',
 'country_burma',
 'country_california, usa',
 'country_cambridgeshire, united kingdom',
 'country_canada',
 'country_canary islands, spain',
 'country_cape verde',
 'country_catalonia',
 'country_catalunya, spain',
 'country_cayman islands',
 'country_chile',
 'country_china',
 'country_co. carlow, ireland',
 'country_costa rica',
 'country_cuba',
 'country_cyprus',
 'country_czech republic',
 'country_dc, usa',
 'country_denmark',
 'country_deutschland',
 'country_district of columbia, usa',
 'country_dominican republic',
 'country_ecuador',
 'country_egypt',
 'country_england',
 'country_england, united kingdom',
 'country_españa',
 'country_euskal herria',
 'country_everywhere and anywhere',
 'country_far away...',
 'country_finland',
 'country_florida, usa',
 'country_fort bend',
 'country_framingham',
 'country_france',
 'country_germany',
 'country_greece',
 'country_grenada',
 'country_guernsey',
 'country_guernsey, channel islands',
 'country_guinea',
 'country_hawaii, usa',
 'country_honduras',
 'country_hong kong',
 'country_hungary',
 'country_iceland',
 'country_iceland, iceland',
 'country_idaho, usa',
 'country_ile de france, france',
 'country_illinois, usa',
 'country_india',
 'country_iran',
 'country_ireland',
 'country_israel',
 'country_italia',
 'country_italy',
 'country_jamaica',
 'country_japan',
 'country_kazakhstan',
 'country_kenya',
 'country_kuwait',
 'country_la chine éternelle!',
 'country_laos',
 'country_luxembourg',
 'country_madagascar',
 'country_malaysia',
 'country_malta',
 'country_maryland, usa',
 'country_mexico',
 'country_michigan, usa',
 'country_moldova',
 'country_morgan',
 'country_n/a - on the road',
 'country_netherlands',
 'country_new brunswick, canada',
 'country_new south wales, australia',
 'country_new york, georgia, usa',
 'country_new york, usa',
 'country_new zealand',
 'country_north yorkshire, united kingdom',
 'country_norway',
 'country_nz',
 'country_oeiras, portugal',
 'country_ohio, usa',
 'country_okinawa, japan',
 'country_ontario, canada',
 'country_oregon, usa',
 'country_orense',
 'country_pakistan',
 'country_papua new guinea',
 'country_peru',
 'country_philippines',
 'country_phillipines',
 'country_poland',
 'country_portugal',
 'country_puerto rico',
 'country_qatar',
 'country_quit',
 'country_romania',
 'country_russia',
 'country_rutherford',
 'country_saint lucia',
 'country_saudi arabia',
 'country_scotland',
 'country_seoul, south korea',
 'country_singapore',
 'country_singapore, singapore',
 'country_slovakia',
 'country_slovenia',
 'country_south africa',
 'country_south korea',
 'country_spain',
 'country_sri lanka',
 'country_sweden',
 'country_switzerland',
 'country_switzerland"',
 'country_taiwan',
 'country_tanzania',
 'country_tennessee, usa',
 'country_texas, usa',
 'country_thailand',
 'country_tn, usa',
 'country_trinidad and tobago',
 'country_turkey',
 'country_u.k.',
 'country_u.s.a.',
 'country_u.s>',
 'country_ukraine',
 'country_united kindgonm',
 'country_united kingdom',
 'country_united state',
 'country_united states',
 'country_universe',
 'country_uruguay',
 'country_us',
 'country_usa',
 'country_usa, kansas, usa',
 'country_van wert',
 'country_venezuela',
 'country_vietnam',
 'country_virginia, usa',
 'country_wales',
 'country_west indies, tobago',
 'country_west yorkshire, united kingdom',
 'country_ysa',
 'country_nan']

In [ ]:
# 6831 real val, 3166 with "a book cover

In [4]:
car = pd.read_csv(r'cover_page.csv')

In [19]:
car[car['cover_page'].str.contains('a book cover')]

,Unnamed: 0,img_l,cover_page
0,0,http://images.amazon.com/images/P/0002005018.0...,a close up of a book cover with two women
5,5,http://images.amazon.com/images/P/0440234743.0...,a book cover of the testament
12,12,http://images.amazon.com/images/P/0345417623.0...,a book cover of time line by michael crichton
13,13,http://images.amazon.com/images/P/0312978383.0...,a book cover of winter solstice
15,15,http://images.amazon.com/images/P/0553264990.0...,a book cover of the last of the breed
...,...,...,...
7586,7586,http://images.amazon.com/images/P/0448095122.0...,a close up of a book cover with a woman in a tree
7587,7587,http://images.amazon.com/images/P/0451525264.0...,a book cover with a picture of a child holding...
7588,7588,http://images.amazon.com/images/P/0553272500.0...,a book cover of cheaper by the dozen
7597,7597,http://images.amazon.com/images/P/0816713170.0...,a book cover of a man leaning on a drum in the...
7600,7600,http://images.amazon.com/images/P/0875420486.0...,a book cover with candles and books on a table